        body{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color:rgb(168, 168, 244);
        color:rgb(3, 3, 3);
        margin: 0;
        padding: 25px;
    }
    img{
        height:150px;
        width:150px;
        border:2px solid #0044ff;
        display: center;
        margin: 4px 2px;
    }
    header{
        background-color:darkorchid;
        color:white;
        padding: 15px 32px;
        text-align: center;
    }
    .profile-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px;
    }
    footer{
        background-color:rgb(168, 168, 244);
        color:white;
        padding: 1px;
        text-align: left;
        font-size:12px;
    }
    nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    }
    .infoItem{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: rgb(168, 168, 244);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    nav ul li a{
    color: rgb(3, 3, 3);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 25px;
    transition: all 0.3s ease;
    }
    nav ul li a:hover,
    nav ul li a.active
    {
    background-color: rgba(8, 8, 8, 0.2);
    }
    /*-Home-*/
    #home{
    background-color: rgb(168, 168, 244);
    }
    .aboutContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
    }
    body {font-family: Arial, Helvetica, sans-serif;}

    #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    }
    /*-Contact Us-*/
    .infoGrid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); 
        gap: 20px;
        margin-top: 30px;
    }
    .infoItem{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px;
        background-color: rgb(168, 168, 244);
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .infoLabel{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px;
        background-color: rgb(168, 168, 244);
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .infoItem:hover
    {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }
    .info{
        font-weight: 600;
        color: black;
    }
    .info i{
        margin-right: 5px;
    }
    .infoLabel span{
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        align-items: left; 
    }
    .infoItem span{
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        align-items: left; 
    }
    .infoContent{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 15fr));
        gap: 30px;
    }
    .infoGeneral{
        font-size: 16px;
        font-weight: normal;
        color: #333; /*-Text color-*/
    }